*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* ----------------------------
        header-section
------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-top: 25px;
}
.header .header_left{
    display: flex;
    align-items: center;
}
.header .header_left img{
    padding-right: 8px;
    width: 48px;
    height: 48px;
}
.header .header_left h2{
    font-size: 24px;
    font-weight: bold;
}

.header .header_right ul{
    display: flex;
    align-items: center;
}
.header .header_right ul li a{
    text-decoration: none;
    color:#556070;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
    
}
.header .header_right ul li{
    list-style: none;
}
.header .header_right .contact-button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#121314;
    padding: 12px;
    background-color: #F3DB61;
     
}
 .header .header_right ul li a:hover{
    color: #132238;
    font-weight: 600;
}
/* ----------------------------
        hero-section
------------------------------*/
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#236C44;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 20px;
}
.hero .hero_left h1{
    font-size: 55px;
    color:#fff;
    padding-bottom: 20px;
}
.hero .hero_left p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(230, 227, 227);
    line-height: 32px;
    padding-bottom: 20px;
}
.hero .hero_left{
    padding:  80px;
}
.hero .hero_right img{
    width:350px;
    object-fit: cover;
    margin-top: -80px;
    margin-bottom: -95px;
}
.hero .hero_left .btn{
    display: flex;
    align-items: center;
    gap:45px;
}
.hero .hero_left .btn .btn1{
    border: none;
    background-color: #F3DB61;
    padding: 10px 12px;
    border-radius: 6px;
    display: flex;
     align-items: center; 
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 8px;
}
.hero .hero_left .btn .btn2{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}



