*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* ----------------------------
        header-section
------------------------------*/
.header{
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin-top: 25px;
}
.header .header_left{
    display: flex;
    align-items: center;
}
.header .header_left img{
    width: 40px;
    height: 40px;
    border: 2px solid #236C44;
    border-radius: 50%;
    margin-right: 6px;
}
.header .header_left h2{
    font-size: 24px;
    font-weight: bold;
}

.header .header_right ul{
    display: flex;
    align-items: center;
}
.header .header_right ul li a{
    text-decoration: none;
    color:#556070;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
    
}
.header .header_right ul li{
    list-style: none;
}
.header .header_right .contact-button {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color:#121314;
    padding: 12px;
    background-color: #F3DB61;
    border-radius: 8px;
     
}
 .header .header_right ul li a:hover{
    color: #132238;
    font-weight: 600;
}
/* ----------------------------
        hero-section
------------------------------*/
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#236C44;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 20px;
}
.hero .hero_left h1{
    font-size: 55px;
    color:#fff;
    padding-bottom: 20px;
}
.hero .hero_left p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(230, 227, 227);
    line-height: 32px;
    padding-bottom: 20px;
}
.hero .hero_left{
    padding:  80px;
}
.hero .hero_right img{
    width:350px;
    object-fit: cover;
    margin-top: -80px;
    margin-bottom: -95px;
}
.hero .hero_left .btn{
    display: flex;
    align-items: center;
    gap:45px;
}
.hero .hero_left .btn .btn1{
    border: none;
    background-color: #F3DB61;
    padding: 10px 12px;
    border-radius: 6px;
    display: flex;
     align-items: center; 
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    gap: 8px;
}
.hero .hero_left .btn .btn2{
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap:12px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}
/* ----------------------------
        client-section
------------------------------*/
.client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}
.client .client_left h3{
    font-size: 32px;
    font-weight: 700;
    color: #121314;
}
.client .client_left p{
    font-size: 16px;
    color:#5E6971 ;
    padding-top: 15px;
    font-weight: 400;
    line-height: 24px;
}
.client .client_right .image{
    background-color: #E9F0EC;
    margin: 10px;
    width: 120px;
    height: 40px;
    padding:12px;
    border-radius: 10px;
}

/* ----------------------------
        caseStuday-section
------------------------------*/
.caseStudy .caseContent{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.caseStudy .caseStudy_list .caseStudy_card{
    width: 357px;
    padding-right:30px;
}
.caseStudy .caseStudy_list .caseStudy_card:last-child{
    padding-right: 0;
}
.caseStudy .content h2{
    padding-top: 50px;
    font-size: 40px;
    font-weight: 700;
}
.caseStudy .content p{
    font-size: 16px;
    line-height: 25px;
    color:#3E5985;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 20px;
}
.caseStudy .caseContent .icon1{
   border: 2px solid #F3DB61;
   border-radius: 50%;
   width: 16px;
   padding: 5px;
   margin-right: 15px;
}
.caseStudy .caseContent .icon2{
   background-color: #F3DB61;
   border-radius: 50%;
   border: 2px solid #F3DB61;
   width: 16px;
   padding: 5px;
}
.caseStudy .pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 50px;
}
/* ----------------------------
        service-section
------------------------------*/
.service_section{
    background-color: #E9F0EC;   
}
.service_section .text_section{
    text-align: center;
    padding-top:50px ;
}
.service_section .text_section h2{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 15px;
}
.service_section .text_section p{
    font-size: 16px;
    font-weight: 400;
    color:#485057;
    line-height: 25px;
    margin-bottom: 30px;
}
.service_section .img_section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1140px;
    margin: 0 auto;
}
.service_section .img_section .abc{
 width: 295px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
} 
.service_section .img_section .card{
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 50px;
}
.service_section .img_section h3{
    font-size: 20px;
    color:#132238;
    font-weight: 600;
    padding-top: 30px;
}
.service_section .img_section p{
    font-size:14px;
    color:#556070;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 30px;
    line-height: 22px;
}
.service_section .img_section a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #236C44;
    display: flex;
    align-items: center;
}
.service_section .img_section .arrow{
    padding-left: 8px;
}
/* ----------------------------
        Achievement-section
------------------------------*/
.achievement_section .record{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.achievement_section .record .number{
   display: flex;
   align-items: center;
   text-align:center ;
   margin: 0 auto;
}
.achievement_section .record .number h3{
    margin-top:17px ;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 700;
    color: #121314;
}
.achievement_section .record .number p{
    font-size: 16px;
    font-weight: 400;
    color:#5E6971;
}
/* ----------------------------
        Testimonial-section
------------------------------*/
.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 50px;
    gap: 80px;
}
.testimonial .testimonial_left{
    width: 50%;
}
.testimonial .testimonial_left .client1 h2{
    font-size: 40px;
    font-weight: 700;
}
.testimonial .testimonial_left .client1 p{
    font-size: 16px;
    font-weight: 400;
    color:#556070;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.testimonial .testimonial_left .quote{
    padding: 45px;
    background-color: #FAF1C0;
    border-radius: 12px;
}
.testimonial .testimonial_left .quote p{
    font-size: 20px;
    color:#132238;
    font-weight: 400;
    line-height: 30px;
}
.testimonial .testimonial_left .founder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.testimonial .testimonial_left .founder .test{
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonial .testimonial_left .founder .test .content h3{
    font-size: 16px;
    font-weight: 600;
    color: #121314;
}
.testimonial .testimonial_left .founder .test .content p{
    font-size: 14px;
    font-weight: 500;
    color: #5E6971;
    padding-top: 8px;
}
.testimonial .testimonial_left .founder .test .content span{
    color: #236C44;
    font-weight: 600;
}
.testimonial .testimonial_left .founder .icon1{
    border: 2px solid #F3DB61;
   border-radius: 50%;
   width: 16px;
   padding: 5px;
   margin-right: 15px;
}
.testimonial .testimonial_left .founder .icon2{
   background-color: #F3DB61;
   border-radius: 50%;
   border: 2px solid #F3DB61;
   width: 16px;
   padding: 5px;
}
.testimonial .testimonial_right img{
    background-color: #236C44;
    border-radius:8px;
    margin-top: 15px;
    object-fit: cover;
}
/* ----------------------------
        Idea-section
------------------------------*/
.idea{
    background-color: #0E2B1B;
    display: flex;
    padding: 80px;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
}
.idea .idea_left{
    width: 50%;
}
.idea .idea_left h2{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.idea .idea_left p{
    font-size: 18px;
    font-weight: 400;
    color: #87909D;
    line-height: 28px;
    padding-top: 30px;
}
.idea .idea_left .BtnIdea {
    display: inline-flex;
   align-items: center;
   gap: 8px;          
   width: auto;      
   padding: 10px 20px;
   background: #F3DB61;
   color: #121314;
   border-radius: 6px;
   text-decoration: none;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   margin-top: 15px;
}
.idea .idea_right .mail,
.call{
    display: flex;
    background-color:#154129 ;
    padding: 20px;
    border-radius: 8px;
    gap:8px;
}
.idea .idea_right .mail{
    margin-bottom: 20px;
}
.idea .idea_right .mail p,
.call p{
   font-size: 14px;
   color: #fff;
   font-weight: 500;
   text-transform: uppercase;
}
.idea .idea_right .mail h4,
.call h4{
   font-size: 20px;
   color: #fff;
   font-weight: 500;
   padding-top: 5px;
}
/* ----------------------------
        Footer-section
------------------------------*/
.footer{
    padding-top: 50px;
    padding-bottom: 80px;
}
.footer_left .about{
    display: flex;
    align-items: center;
}
.footer_left .about img{
    width: 40px;
    height: 40px;
    border: 2px solid #236C44;
    border-radius: 50%;
    margin-right: 6px;
}
.footer_left .about h3{
    font-size: 22px;
    color:#121314;
    font-weight: 700;
}
.footer_left .address p{
    font-size: 16px;
    color:#424E60;
    font-weight: 400;
    padding-top: 10px;
    line-height: 26px;
}
/* ----------------------------
        CopyRight-section
------------------------------*/
.copyRtght p{
    text-align: center;
    font-size: 14px;
    color:#697484;
    font-weight: 400;
    padding-bottom: 20px;
}



